.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    padding: 5px;
}

.mat-card{
    width: 100%;
    max-width: 1200px;
    cursor: pointer;
    margin: 10px;
    /* background-color:bisque; */
    background-color: #F5F5F5;
}

.content{
    display: flex;
}

img{
    max-width: 500px;
}

.restaurant-data{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}